:host .contactCard {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15;
  box-shadow: 1px 1px 3px 3px rgb(214, 214, 219);
  border-radius: 5px;
  width: 600px;
}

:host .window {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}
