.contactCard {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15;
  box-shadow: 1px 1px 3px 3px rgb(214, 214, 219);
  border-radius: 5px;
  width: 600px;
}

.window {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.row {
  width: 100rem;
  margin: 1rem;
}

.card-text {
  margin: 0;
}

.box-height {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.btn {
  background-color: #006299;
}

.contactDataDiv {
  background-color: #f8f8f8;
  width: 100%;
}

.contactData {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: center !important;

  a {
    border-radius: 3px;
  }
}

@media (max-width: 650px) {
  .contactCards {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    box-shadow: none;
    border-radius: 5px;
    width: 100%;
  }

  .contactData {
    justify-content: space-between;
    width: 100%;
  }
}
