.display-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  width: 100rem;
  margin: 1rem;
}

.card-text {
  margin: 0;
}

.box-height {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.btn {
  background-color: #006299;
}

.contactDataDiv {
  background-color: #f8f8f8;
  width: 100%;
}

.contactData {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
}

@media (max-width: 650px) {
  .contactCards {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    box-shadow: none;
    border-radius: 5px;
    width: 100%;
  }

  .contactData {
    justify-content: space-between;
    width: 100%;
  }
}
