<div class="display-wrap">
  <app-card *ngFor="let contact of contacts; let i = index">
    <!-- Header -->
    <app-card-header> ID: {{ i }} </app-card-header>

    <!-- Body -->
    <app-card-body>
      {{ contact.name }}
      <p class="card-text">
        {{ contact.birthDate | date : "dd/MM/YY" }}
      </p>
      <!-- Address -->
      <div *ngFor="let address of contact.addresses">
        <div class="box-height">
          <p class="card-text">
            {{ address.street }} {{ address.houseNumber }}
          </p>
          <p class="card-text">{{ address.zip }} {{ address.town }}</p>
          <p class="card-text">{{ address.country }}</p>
        </div>
      </div></app-card-body
    >

    <!-- Footer -->
    <app-card-footer>
      <a
        routerLink="/edit/{{ contact.id }}"
        class="btn btn-primary"
        style="margin-right: 20px"
        >Edit</a
      >
      <a (click)="deleteContact(contact)" class="btn btn-primary">Delete</a>
    </app-card-footer></app-card
  >
</div>
