.display-wrap {
  display: flex;
  flex-wrap: wrap;
  max-height: 90vh;
  margin: 1rem;
}

mat-grid-list {
  width: 100%;
}

mat-grid-tile {
  box-sizing: border-box;
}

app-card {
  width: 100%;
}

app-card-body {
  max-height: 200px;
  overflow-y: auto;
}
